* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

/* header */
header {
    display: inline;
}

.container {
    background-color: ghostwhite;
    text-align: center;
    color: orange;
    text-shadow: 5px 5px black;
    bottom: 0;
}

.container img {
    filter: blur(0.5px);
}

.jumbotron {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    width: 100%;
}

nav {
    background-color: orange;
    padding: 5px;
    position: sticky;
    top: 0;
    text-align: center;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

    /* main */
main {
    padding: 20px;
    overflow: auto;
}

#content {
    float: left;
    width: 75%;
}

.menuImage {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

article h2 {
    color: orange;
}

article p, span {
    color: black;
}

main a {
    text-decoration: none;
}

    /* aside */
aside {
    float: right;
    width: 25%;
}

@media screen and (max-width: 1023px) {
    .title {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: medium;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    #content,
    aside {
        width: 100% !important;
        padding: 0 !important;
    }
}

@media screen and (max-width: 639px) {
    .title {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: small;
        width: 100%;
    }
}