* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

/* header */
header {
    display: inline;
}

.container {
    background-image: url(image/jumbotron.jpg);
    height: 300px;
    width: 100%;
    text-align: center;
    color: orange;
    text-shadow: 5px 5px black;
    background-repeat: no-repeat;
    background-size: cover;
    object-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    filter: blur(0.5px);
}

.jumbotron {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.title {
    font-size: 25px;
    width: 100%;
}

nav {
    background-color: orange;
    padding: 5px;
    position: sticky;
    top: 0;
    text-align: center;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

    /* main */
main {
    padding: 20px;
    overflow: auto;
}

#content {
    float: left;
    width: 75%;
}

.menuImage {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

article h2 {
    color: orange;
}

article p, span {
    color: black;
}

main a {
    text-decoration: none;
}

    /* aside */
aside {
    float: right;
    width: 25%;
    text-align: center;
    font-size: small;
}

.profile img {
    width: 150px;
}

footer {
    background-color: orange;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 5px;
    padding-left: 35%;
    padding-right: 35%;
    padding-bottom: 0;
}

.menuImage:hover {
    width: 105%;
    max-height: 400px;
    transition: 0.3s;
    object-position: center;
}

    /* menu */
#content-menu {
    float: left;
    width: 75%;
}

#content-menu .card {
    padding-left: 100px;
    padding-right: 100px;
    background-color: #d2d6d3;
}

.food h1, .dessert h1, .beverage h1 {
    text-align: center;
}

.food h2, .dessert h2, .beverage h2 {
    color: orange;
}

.food, .dessert {
    padding: 30px;
}

.food li, .dessert li, .beverage li {
    display: inline;
    list-style-type: none;
}

.price {
    float: right;
}

.make {
    color: orange;
}

    /* location */
.location {
    padding: 50px;
}

.title-location {
    color: orange;
    text-shadow: 2px 2px black;
}

    /* makePizza */
.content-make {
    padding: 20px;
    text-align: center;
}

.pizza-container {
    display: flex;
    justify-content: center;
}

.pizza-box img {
    width: 200px;
    height: 150px;
    margin: 20px;
}


    /* media query */

@media screen and (max-width: 1023px) {
    .title {
        font-size: 15px;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    #content, #content-menu,
    aside {
        width: 100% !important;
        padding: 0 !important;
    }
}

@media screen and (max-width: 639px) {
    .container {
        background-image: url(image/jumbotron.jpg);
        height: 200px;
        width: 100%;
        text-align: center;
        color: orange;
        text-shadow: 5px 5px black;
        background-repeat: no-repeat;
        background-size: cover;
        object-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 10px;
        width: 100%;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
    }

    .card h1, h2 {
        font-size: large;
    }

    nav {
        background-color: orange;
        padding: 2px;
        position: sticky;
        top: 0;
        text-align: center;
    }

    #content-menu .card {
        font-size: x-small;
        padding: 10px;
    }

    .location {
        padding: 10px;
    }

    .pizza-box img {
        width: 100px;
        height: 75px;
        margin: 10px;
    }
}